@{
    ViewData["Title"] = "History - Booking" ;
    ViewData["booking"] = "menu-open";
    ViewData["booking-history"] = "active";
}

@section csslinks {
    <link rel="stylesheet" href="~/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css ">
    <link rel="stylesheet" href="~/Admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css ">

}
@section jslinks {
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Admin/plugins/jszip/jszip.min.js"></script>
    <script src="~/Admin/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Admin/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script src="~/js/configTableData.js"></script>


    <script>
        $(document).ready(function () {
            $('select.quyen-select').change(function () {

                var nvId = $(this).closest('tr').find('td:first').text();
                var selectedValue = $(this).val();

                // Gửi yêu cầu Ajax
                $.ajax({
                    type: 'POST',
                    url: '/nhanvien/updatequyen',
                    data: {
                        id: nvId,
                        newQuyen: selectedValue
                    },
                    success: function (data) {
                        alert(data);

                    },
                    error: function (xhr, status, error) {

                        console.error(error);
                    }
                });
            });

            $('select.kichhoat-select').change(function () {

                var nvId = $(this).closest('tr').find('td:first').text();
                var selectedValue = $(this).val();

                // Gửi yêu cầu Ajax
                $.ajax({
                    type: 'POST',
                    url: '/nhanvien/updatekichhoat',
                    data: {
                        id: nvId,
                        newkichhoat: selectedValue
                    },
                    success: function (data) {
                        alert(data);

                    },
                    error: function (xhr, status, error) {

                        console.error(error);
                    }
                });
            });
        })
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var selects = document.querySelectorAll("select.kichhoat-select");
            selects.forEach(function (select) {
                changeClass(select);
            });
        });
        function changeClass(selectElement) {
            var selectedOption = selectElement.value;
            if (selectedOption === "true") {
                selectElement.classList.remove("badge-danger");
                selectElement.classList.add("badge-success");
            } else if (selectedOption === "false") {
                selectElement.classList.remove("badge-success");
                selectElement.classList.add("badge-danger");
            }
            $("table").click();
        }
    </script>
}



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Nhân viên</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Nhật ký mượn/trả</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                   
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Mã thành viên</th>
                                    <th>Họ tên</th>
                                    <th>Phương thức mượn</th>
                                    <th>Chỗ ngồi</th>
                                    <th>Thời gian mượn</th>
                                    <th>Thời gian dự kiến trả</th>
                                    <th>Thời gian trả ghi nhận</th>
                                    <th>Trạng thái</th>
                                    <th width="170px">Hành động</th>
                                    <th>Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody>

                               
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Mã thành viên</th>
                                    <th>Họ tên</th>
                                    <th>Phương thức mượn</th>
                                    <th>Chỗ ngồi</th>
                                    <th>Thời gian mượn</th>
                                    <th>Thời gian dự kiến trả</th>
                                    <th>Thời gian trả ghi nhận</th>
                                    <th>Trạng thái</th>
                                    <th width="170px">Hành động</th>
                                    <th>Chi tiết</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
